@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-serif: "spectral", serif;
  --font-display: "Freckle Face";
  --font-sc: "Spectral SC", serif;

  --color-primary: #191616;
  --color-secondary: #eaeae7;
  --color-accent: var(--color-emerald-600);
}

@layer base {
  .prose a span {
    @apply font-sans text-xs;
  }
}
