@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-serif: "spectral", serif;
  --font-display: "Freckle Face";
  --font-sc: "Spectral SC", serif;

  --color-primary: #000000;
  --color-secondary: #eaeae7;
}

@layer base {
  .prose a span {
    @apply font-sans text-xs;
  }
}