---
interface Props {
  is404?: boolean;
}

const { is404 = false } = Astro.props;
---

<section
  class="text-center grow flex flex-col items-center justify-center gap-2 px-3 md:px-4 pb-8 md:pt-8"
>
  {is404 && <span class="font-display text-8xl -rotate-12">404</span>}
  <h1 class="text-2xl font-bold">
    {is404 ? "Page introuvable" : "Pas de contenu pour le moment"}
  </h1>
  <p class="text-lg/tight max-w-prose text-balance">
    Abonnez-vous au <a
      href="/rss.xml"
      class="text-accent hover:opacity-70 transition-opacity underline-offset-2 underline"
      >flux RSS</a
    > pour recevoir les futures publications. <br />
    Vous pouvez aussi consulter mes <a
      href="/notes"
      class="text-accent hover:opacity-70 transition-opacity underline-offset-2 underline text-nowrap"
      >notes de lecture</a
    >.
  </p>
</section>
