---
import Layout from "../layouts/Layout.astro";
import Thumbnail from "./Thumbnail.astro";
import type { PostType } from "../../types";
import EmptyGrid from "./EmptyGrid.astro";

interface Props {
  posts: Array<PostType>;
  tag?: string;
}
const { posts, tag } = Astro.props;

const hasNote = posts.some((post) => post.collection === "notes");
---

<Layout>
  {
    posts.length > 0 ? (
      <section
        class={`grid grid-cols-1 ${!hasNote ? "md:grid-cols-2 2xl:grid-cols-3" : "divide-y divide-secondary"}`}
      >
        {posts.map((post) => (
          <Thumbnail
            post={post}
            tag={tag || ""}
          />
        ))}
      </section>
    ) : (
      <EmptyGrid />
    )
  }
</Layout>
