---
import Layout from "../layouts/Layout.astro";
import Thumbnail from "./Thumbnail.astro";
import type { PostType } from "../../types";

interface Props {
  posts: Array<PostType>;
  tag?: string;
}
const { posts, tag } = Astro.props;
---

<Layout>
  <section class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3">
    {
      posts.map((post) => (
        <Thumbnail
          post={post}
          tag={tag || ""}
        />
      ))
    }
  </section>
</Layout>
