---
import Layout from "../layouts/Layout.astro";
import Thumbnail from "./Thumbnail.astro";
import type { PostType } from "../../types";

interface Props {
  posts: Array<PostType>;
  tag?: string;
}
const { posts, tag } = Astro.props;

const isNotes = posts[0].collection === "notes";
---

<Layout>
  <section
    class={`grid grid-cols-1 ${!isNotes ? "md:grid-cols-2 2xl:grid-cols-3" : "divide-y divide-secondary"}`}
  >
    {
      posts.map((post) => (
        <Thumbnail
          post={post}
          tag={tag || ""}
        />
      ))
    }
  </section>
</Layout>
