---
import Layout from "../layouts/Layout.astro";
import Thumbnail from "./Thumbnail.astro";
import type { PostType } from "../../types";
import EmptyGrid from "./EmptyGrid.astro";

interface Props {
  posts: Array<PostType>;
  tag?: string;
  title?: string;
}
const { posts, tag, title } = Astro.props;

const hasNote = posts.some((post) => post.collection === "notes");
const pageTitle = tag ? `Publications taggées "${tag}"` : title;
---

<Layout title={pageTitle}>
  {
    posts.length > 0 ? (
      <section
        class={`grid grid-cols-1 ${!hasNote ? "md:grid-cols-2 2xl:grid-cols-3" : "divide-y divide-secondary dark:divide-primary"}`}
      >
        {posts
          .sort(
            (a, b) =>
              new Date(b.data.published).getTime() -
              new Date(a.data.published).getTime()
          )
          .map((post) => (
            <Thumbnail
              post={post}
              tag={tag || ""}
            />
          ))}
      </section>
    ) : (
      <EmptyGrid />
    )
  }
</Layout>
