---
import { siteConfig } from "../../site.config";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource/spectral";
import "@fontsource/spectral-sc";
import "@fontsource/freckle-face";
import OpenGraph from "../components/OpenGraph.astro";

const { ...seo } = Astro.props;
---

<!doctype html>
<html
  lang="fr"
  class="scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Votre titre de site"
      href={new URL("rss.xml", Astro.site)}
    />
    <title>{siteConfig.title}</title>
    <meta
      name="description"
      content={siteConfig.description}
    />
    <OpenGraph {...seo} />
  </head>

  <body
    class="bg-secondary text-primary font-serif antialiased min-h-dvh flex flex-col"
  >
    <Header />
    <slot />
  </body>
</html>
