---
import Layout from "./Layout.astro";
---

<Layout>
  <main class="flex flex-col gap-8 px-4 pb-8 md:pt-8">
    <section class="mx-auto prose max-w-full md:max-w-[70ch] prose-emerald">
      <slot />
    </section>
  </main>
</Layout>
